
@using Store.Application.Services.Common.GetCategory;
@model List<CategoryForSearchDto>;
@{
    Layout = null;
}


<div class="header-search row text-right">
    <div class="header-search-box">
        <form asp-action="index", asp-controller="Product" class="form-search">
            <input type="search" class="header-search-input" name="SearchKey" placeholder="نام کالا، برند و یا دسته مورد نظر خود را جستجو کنید…">
            <div class="action-btns">
                <button class="btn btn-search" type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <div class="search-filter">
                    <div class="form-ui">
                        <div class="custom-select-ui">
                            <select class="right" name="CategoryId" 
                                asp-items="@(new SelectList(Model, dataValueField: "Id", dataTextField: "Name"))" >

                                <option>همه دسته بندی ها</option>                               

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>